@charset "utf-8";

html, body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

@media (max-width: 576px) {
  .button-group{
    display: flex;
    justify-content: center;
    gap: 0;
    margin: 2rem 0;
  }
}